@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Zilla+Slab:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif;
  background-color: rgb(237, 224, 206);
}

/* *********************** NAVBAR ********************* */

.navbar {
  z-index: 10;
  margin: 0;
  padding: 0;
  background: rgb(54, 53, 53);
  height: 99px;
  width: 100%;
  position: fixed;
}

.logo-nav {
  float: left;
  position: relative;
  top: 13px;
  left: 30px;
}

.li-nav {
  display: inline;
  margin-left: 100px;
  position: relative;
  top: 18px;
  list-style: none;
}

.a-nav {
  transition: ease all 0.5s;
  font-family: 'Staatliches', cursive;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 1.4px;
}

.a-nav:hover {
  transition: ease all 0.5s;
  font-size: 1.6em;
  text-shadow: 2px 2px 0px goldenrod;
}

.nav-btn {
  transition: ease 0.5s all;
  position: absolute;
  top: 22px;
  right: 5em;
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 22px;
  background: rgb(80, 77, 77);
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-btn:active {
  transition: ease 0.5s all;
  background: rgb(73, 70, 70);
}

/* ************************* BACKGROUND ***************** */

.background-video {
  text-align: center;
}

.bg-video {
  position: relative;
  top: 49px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-video video {
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-master {
  animation: titre ease 3s;
  position: absolute;
  height: 30%;
  left: 15%;
  bottom: 50%;
  right: 50%;
}

/* ******************** MAIN ****************** */

.bg-family {
  background: url(./media/bg-family.webp) no-repeat 50% 50%;
  background-size: cover;
  padding: 120px 100px;
  position: relative;
  bottom: 0px;
}

.box-strong {
  font-family: 'Zilla Slab', serif;
  color: white;
  text-align: center;
  margin: 0 10%;

}

.titre-1 {
  font-size: 3em;
  text-transform: uppercase;
}

.trait {
  height: 2px;
  width: 35%;
  background: white;
  position: relative;
  left: 32.5%;
}

.texte-1 {
  font-size: 2.5em;
}

.button-2 {
  transition: 0.5s ease all;
  border: none;
  font-size: 1.5em;
  font-family: 'Staatliches', cursive;
  padding: 15px 25px;
  font-weight: normal;
  background: rgb(226, 208, 208);
  margin-top: 50px;
  margin-left: 598px;
}

.button-2:hover {
  transition: 0.5s ease all;
  cursor: pointer;
  background: goldenrod;
  color: white;
  box-shadow: 2.5px 2.5px 0px white;
}

.Piltover {
  background: url(./media/piltover_city.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 799px;
  width: auto;
  margin-top: -46px;
}

.box-strong-2 {
  font-family: 'Zilla Slab', serif;
  color: white;
  text-align: center;
  margin: 0 15%;
  position: relative;
  top: 18%;
}

.trait-2 {
  height: 3px;
  width: 35%;
  background: rgb(255, 255, 255);
  position: relative;
  left: 32.5%;
  margin: 30px 0;
}

.titre-2 {
  font-size: 7em;
  text-transform: uppercase;
  margin: 0;
}

.texte-2 {
  font-size: 2em;
}

.Zaun {
  background: url(./media/zaun.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 799px;
  width: auto;
}

.box-strong-3 {
  font-family: 'Zilla Slab', serif;
  color: white;
  text-align: center;
  margin: 0 15%;
  position: relative;
  top: 20%;
}

.trait-3 {
  height: 3px;
  width: 35%;
  background: rgb(255, 255, 255);
  position: relative;
  left: 32.5%;
  margin: 30px 0;
}

.titre-3 {
  font-size: 6em;
  text-transform: uppercase;
  margin: 0;
}

.texte-3 {
  font-size: 2em;
}

.bg-family:hover, .Piltover:hover, .Zaun:hover, .bg-personnage:hover {
  transition: ease 0.9s all;
  -webkit-filter: grayscale(0%); 
}
  
.bg-family, .Piltover, .Zaun, .bg-personnage {
  transition: ease 0.9s all;
  -webkit-filter: grayscale(100%); 
}

/* *********************** PERSONNAGES ******************** */

.bg-personnage {
  background: url(./media/bg-personnage.webp) no-repeat 50% 50%;
  background-size: cover;
  height: 799px;
  width: auto;
  position: relative;
  bottom: 17px;
  text-align: center;
}

.titre-4 {
  color: white;
  font-size: 5em;
  text-transform: uppercase;
  margin: 0;
  padding-top: 13%;
  padding-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 0 5%;
  flex-wrap: wrap;
}

.personnage {
  position: relative;
  bottom: -30px;
}

.box {
  transition: ease 0.5s all;
  background: url(./media/media-cards-bg-purple-d-f5b6d7ea814243730e3d7e010d5f4e89.jpg) no-repeat 50% 50% ;
  background-size: 820px 500px;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  height: 400px;
  width: 350px;
  border: double 5px rgb(5, 12, 26);
}

.box:hover {
  border: 5px double rgb(56, 1, 56);
  box-shadow: 7px 7px 0 rgb(5, 12, 26);
  transform: translatey(7px);
  transition: ease 0.5s all;
}

h4 {
  font-family: 3em;
  text-transform: uppercase;
  color: rgb(237, 224, 206);
}

.img-radius {
  height: 250px;
  width: auto;
  border: double white 5px;
}

p {
  color: white;
}

.img-radius {
  transition: ease 0.9s all;
  -webkit-filter: grayscale(100%);
}

.img-radius:hover {
  transition: ease 0.8s all;
  -webkit-filter: grayscale(0%); 
  cursor: pointer;
}

.personnage {
  background: url(./media/download.png) 50% 50%;
  background-size: cover;
  height: 799px;
  width: auto;
}

/* ******************** FOOTER ***************** */

.footer {
  background: url(./media/media-cards-bg-purple-d-f5b6d7ea814243730e3d7e010d5f4e89.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  top: 2200px;
  height: 70px;
  width: 100%;
  color: #fff;
}

.txt-footer {
  position: relative;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.txt-footer:hover {
  text-shadow: 2px 2px 0px goldenrod;
  font-size: 21px;
  transition: 0.4s ease-in-out;
}

/* ****************************************** FIN *************************************** */